@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lato:wght@900&family=Mochiy+Pop+P+One&display=swap');
/*;*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 20px;
}
::-webkit-scrollbar-track
{
  background: #dddddd;
}
::-webkit-scrollbar-thumb
{
  background: #456;
}
body,
button {
  font-family: "Poppins", sans-serif;

}
.headertext{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: yellowgreen;
  text-shadow: 2px 2px black;
  font-size: 2em;
  font-family: 'Lato', sans-serif;

}

#head1, #head2,#head3, #head4, #head5{
  opacity: 0;
}

#head1{
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
}

#head2{
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}

#head3{
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}

#head4{
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 17s;
  -moz-animation-delay: 17s;
  -o-animation-delay: 17s;
  animation-delay: 17s;
}

#head5{
  -webkit-animation: finalFade 1 5s ease-in;
  -moz-animation: finalFade 1 5s ease-in;
  -o-animation: finalFade 1 5s ease-in;
  animation: finalFade 1 5s ease-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 22s;
  -moz-animation-delay: 22s;
  -o-animation-delay: 22s;
  animation-delay: 22s;
}






@keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
}

@keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
}


.container {
  min-height: 100vh;
  width: 100%;
  background-color: #485461;
  background-image: linear-gradient(135deg, #461 0%, #13b 74%);
  overflow-x: hidden;
  transform-style: preserve-3d;
}

.navbar {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
}

.menu {
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;

}

.logo {
  position: relative;
  left: -200px;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4rem;
  color:#00ff7f;
  text-shadow: 2px 1px #111;
  
}

.logo span {
  font-weight: 300;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  left: 150px;
}

.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: red;
  transition: 0.5s;
  position: relative;

}

.bar:before,

.bar:after {

  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: red;
  transition: 0.5s;

}

.bar:before {
  transform: translateY(-9px);

}

.bar:after {

  transform: translateY(9px);
}

.main {

  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

header {
  min-height: 100vh;
  width: 100%;
  background: url("sahil.jpg") no-repeat top center / cover;
}
.time
{

  position: relative;
  top: 60px;
  left: 60px;
  width: 300px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {

  max-width: 35rem;
  text-align: center;
  color: #fff;
  padding: 0 2rem;
}
.title font 
{
  color: ghostwhite;
 
}
.title {
  text-transform: uppercase;
  font-size: 2.7rem;
  color: #996515;
  text-shadow: 2px 2px #111;
  filter: brightness(1.4);
  font-family: 'Lato', sans-serif;
  position: relative;
  top: -70px;
}
.title span
{
  color: red;
}

.btn {
  position: relative;
  top: 260px;
  border: solid;
  padding: 0.6rem 1.8rem;
  background-color: #117;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}
.btn:hover
{
  background-color: deeppink;
}
.btn a
{
  color: whitesmoke;
  text-decoration: none;
}

.container.active .bar {

  transform: rotate(360deg);
  background-color: transparent;
}

.container.active .bar:before {

  transform: translateY(0) rotate(45deg);

}

.container.active .bar:after {

  transform: translateY(0) rotate(-45deg);

}

.container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  border-radius: 50px;
  border: solid #111;
}

@keyframes main-animation {

  from {

    transform: translate(0);

  }

  to {

    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);

  }

}

.links {

  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

}

ul {

  list-style: none;
}

.links a {

  text-decoration: none;
  color: #111;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;

}

.links a:hover {
  color: #fff;
  text-decoration: underline 5px deeppink;

}

.container.active .links a {

  animation: appear 0.5s forwards ease var(--i);

}

@keyframes appear {

  from {

    opacity: 0;
    transform: translateX(10px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }

}

@keyframes hide {

  from {

    opacity: 1;
    transform: translateX(0px);
  }

  to {
    opacity: 0;
    transform: translateX(10px);
  }

}

.shadow {

  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;

}

.shadow.one {
  z-index: -1;
  opacity: 0.15;

}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}


/*page 2*/

section.Study
{
  padding: 20px;
  position: relative;
  top: 60px;
  height: 100vh;
  background-color: #111;
  color: yellowgreen;
  animation: finalFade 1 10s ease-in;
}


.flex
{
          display: flex;
          flex-wrap: wrap; 
          justify-content: center;  
}
.webd
{
    border: solid blue;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    border-radius: 18px;
    padding: 10px;
    margin:8px;
    width: 320px;
    height: 100px;
    font-family: 'Poppins', sans-serif;
}
.webd h2 
{
  color: whitesmoke;
  font-size: 1.4em;
  text-align: center;
}
.webd a{
  text-decoration: none;
}
.webd:hover
{
    animation-name: projectcard;
    animation-duration: 1800ms;
    animation-fill-mode: forwards;
    cursor: pointer;
}
.card
    {
    border: solid blue;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    border-radius: 18px;
    padding: 10px;
    margin:8px;
    width: 320px;
    font-family: 'Poppins', sans-serif;
    }
.card img 
{
  width: 200px;
  height: 150px;
  position: relative;
  left: 40px;
}
.card p 
{
  font-size: 0.8em;
  font-family: 'Poppins', sans-serif;
}
.card:hover{
    animation-name: card-animation;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}   

@keyframes card-animation{

    100%{
    transform: rotate(5deg);
    box-shadow: 0 4px 6px rgba(0,0,0,0.8);

    }

}


/*project page*/

section.Projects
{
  animation: finalFade 1 10s ease-in;
  background-color: #111;
  margin-top: 50px;
  height: 100vh;
  border: solid whitesmoke;
}

.pcontent
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pitem
{ 
    cursor: pointer;
    border: solid ghostwhite;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
    border-radius: 18px;
    padding: 10px;
    margin:8px;
    width: 320px;
    font-family: 'Poppins', sans-serif;
}
.pitem img
{
  width: 200px;
  position: relative;
  left: 40px;
  border-radius: 100px;
}
.pitem h3
{
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  color: red;
  animation: finalFade 1 5s ease-in;
}
.pitem p
{
  font-family: 'Poppins', sans-serif;
  color: ghostwhite;
  
}
.pitem button
{
  padding: 5px;
  display: inline-block;
  text-align: center;
  width: 120px;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  background: lightcyan;
  cursor: pointer;
  animation: showop 25s ease-in-out;
  border-radius: 50px;
}
@keyframes showop
{
   0%
   {
    opacity: 0;
   }
   100%
   {
    opacity: 1;
   }
}
.pitem button:hover
{
  background-color: skyblue;
  border-radius: 30px;
}
.pitem button:visited
{
  background-color: yellowgreen;
  border-radius: 30px;
}
.pitem button a
{
  text-decoration: none;
  color: #222;
  letter-spacing: 2px;
}
#card
{
   border-radius: 100px;
}
.pitem:hover
{
    animation-name: projectcard;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}


@keyframes projectcard{

    
    50%
    {
       transform: scale(1);
       box-shadow: 0 4px 6px rgba(0,0,0,0.6);
    }
    100%
    {
      transform: scale(0.5);
      box-shadow: 0 4px 6px rgba(0,0,0,0.8);
    }


}

/*contect*/

section.message
{
  animation: finalFade 1 10s ease-in;
}
.containerForm {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 1rem;
  padding: 4rem;
  color: whitesmoke;
}


form {
  display: flex;
  gap: 4rem;
  margin-top: 00px;
}

.right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.right .row {
  display: flex;
  gap: 2rem;
}
.right .col {
  display: flex;
  flex-direction: column;
}
.right label {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}
.right input,
.right select {
  width: 42rem;
  background: whitesmoke;
  color: blue;
  border: solid 0.25rem var(--color5);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  outline: none;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}
.right .company input,
.right .occupation input {
  width: 42rem;
}

.buttons {
  width: 100%;
  align-items: center;
  justify-content: right;
}
.cancel {
  background: whitesmoke;
  color: #111;
  height: 50px;
}

.save {
  background: whitesmoke;
  color: #111;
  cursor: pointer;
}
.save:hover,
.cancel:hover {
  opacity: 0.8;
}
.cancel,
.save {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1.5rem;
}


/*about*/

.introduction-section , .location-section
{
  position: relative;
  top: 50px;
  font-family: 'Poppins', sans-serif;
    
}
.introduction > p,
.location > p,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}
.content-footer h2 {
    /* Typography Declarations */
    font-size: 1.2em;
    font-weight: bold;
}

.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    animation: finalFade 1 10s ease-in;
}
.content-footer {
  border: solid;
  margin: 50px 0;
  padding: 20px 0;
  text-align: center;
  background-color: #8C2;
  text-decoration: none;
}
.social > li {
  display: inline-block;
  margin: 0 5px;
}
.content-footer > p {
  color: #F7EDE1;
}



@media only screen and (max-width: 600px) {

html
{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.logo
{
  position: relative;
  left: -10px;
}
.headertext
{
  width: 100%;
  text-align: center;

}
.time
{
  position: relative;
  top: 100px;
  left: 100px;
}
header {
  background: url("sah2.jpg") no-repeat top center / cover;
}
.title
{
  margin-top: 200px;

}
.menu {
display: flex;
justify-content: center;

}
.hamburger-menu
{
  position: relative;
  left: 10px;
}
.container.active .main
{
  margin-left: -100px;
}
section.Study
{
  height: 100%;
  position: relative;
  top: 70px;
}

.right input,
.right select , .right .company input,
.right .occupation input
{
  width: 100%;
}
.introduction-section , .location-section , .questions-section
{
  padding: 22px;
}

section.Projects
{
  height: 100%;
  position: relative;
  top: 20px;
}


}
